<!-- Portfolio Grid Section -->
    <section id="process" class="bg-light-gra">
    <!-- <section id="portfolio" class="bg-light-gray"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Practieces We Follow</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="col-md-12">
            <div class="timeline-body">
                <p class="text-muted">
                    At Maisa we use a very interactive and highly productive software development methodology, better known as<b> "AGILE METHODOLOGY" </b>, across our projects. Having widely adopted<b> AGILE SCRUM </b> methodology not only makes us productive but also gives freedom to our Customers for any changes in requirements during project execution(SDLC). Better yet, our Customers are given demos at the end of each Sprint (usually a week long).
                </p>
            </div>

            <div class="timeline-body">
                <p class="text-muted">
                    A group of light-weight development methodologies, Agile favors "individuals and interactions over process and tools", avoids heavy documentation, and emphasizes continuous software releases through small iteractions. Anchoring our process with Agile methodologies allows us to create applications in less time with fewer resources. We are able to discover issues and change direction more quickly when something doesn't work of step on the gas when it does. Agile is not just a series of processes, through. Where other software development companies see Agile as a check box on their services page, our developers have adopted it as a philosophy. We believe this is the best way to develop software and when you see our results, we think you'll agree.
                </p>
            </div>
                <h3 class="section-subheading"></h3>
                <div class="col-md-5">
                    <div style="height:12em"></div>
                    <div class="col-md-2"></div>
                    <table style="">
                      <tr>
                        <td id="howwedoittable">
                            <ul style="font-size:18px">
                                <li style="list-style-image: url(img/accepted.png);">Sprints</li>
                                <li style="list-style-image: url(img/accepted.png);">Tasks</li>
                                <li style="list-style-image: url(img/accepted.png);">Prioritization</li>
                                <li style="list-style-image: url(img/accepted.png);">Release Back log list</li>
                                <li style="list-style-image: url(img/accepted.png);">User stories</li>
                                <li style="list-style-image: url(img/accepted.png);">Release Milestones</li>
                                <li style="list-style-image: url(img/accepted.png);">Bug Tracking</li>
                            </ul>
                        </td>
                      </tr>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" style="margin-top:35px">
                    <img src="img/agileimage.jpg" width="365">
                </div>

<!--             {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %} -->
            </div>
        </div>
    </section>